<p>Here's a selection of our finest products</p>
<ul>
    <!-- tog bort li *ngIf showcase == true -->
    <ng-container *ngFor="let item of showProducts | async">

        <li>
            <a [routerLink]="['/product', item.id]" routerLinkActive="active" title="{{item.name}}">
                Module name: {{item.name}}
                <img src="{{item.image}}" alt="{{item.name}}">
            </a>
            <p>Price: {{item.price}} sek</p>
            <!-- ändrat från [stock] till [articleNr] -->
            <app-add-to-cart [id]=item.id></app-add-to-cart>
        </li>


    </ng-container>
</ul>